<%- include('includes/head', { pageTitle: 'Not authorized!' }) %>
  </head>

  <body>
    <%- include('includes/header') %>
      <main>
        <h1>Not authorized!</h1>
        <p>Access denied!</p>
        <p><a class="btn" href="/">Back to homepage</a></p>
 
      </main>

      <%- include('includes/footer') %>