<%- include('includes/head', { pageTitle: 'Not authenticated!' }) %>
  </head>

  <body>
    <%- include('includes/header') %>
      <main>
        <h1>Not authenticated!</h1>
        <p>Please log in and try again</p>
        <p><a class="btn" href="/">Back to homepage</a></p>
 
      </main>

      <%- include('includes/footer') %>