body {
  font-family: 'Roboto', sans-serif;
}
header {
  text-align: center;
}
main {
  width: 700px;
  margin: 50px auto 20px auto;
  padding: 24px;
  border-radius: 8px;
  background-color: purple;
  color: white;
}
h1 {
  font-size: 50px;
  color: purple;
}
img {
  height: 175px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin: 12px 0;
  padding-left: 10px;
}
.highlighted {
  border-left: yellow;
  border-left-style: solid;
  color:darkkhaki;
}
main a {
  background-color: darkkhaki;
  color: purple;
  padding: 3px;
  border-radius: 5px;
  text-decoration: none;
}
footer {
  text-align: center;
}
footer > a {
  background-color: gold;
  color: black;
  display:inline-block;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}